flows_VERY_BASIC_TEST.json
[{"id":"323992cc.f1181e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5486ddf.46e958","type":"sqlitedb","z":"","db":"/home/labuser/user2/madrid","mode":"RWC"},{"id":"78b34b0c.f51084","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db6554e3.4d554","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"98ea04c2.83a56","type":"ui_group","z":"","name":"User Input","tab":"8e999ee8.3c3af","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e96d45f.790e14","type":"ui_group","z":"","name":"Dimple gauge","tab":"db6554e3.4d554","order":1,"disp":true,"width":"6","collapse":false},{"id":"96d51d98.126118","type":"sqlitedb","z":"","db":"/home/labuser/user0/madrid","mode":"RWC"},{"id":"8e999ee8.3c3af","type":"ui_tab","z":"","name":"Show data","icon":"dashboard","disabled":false,"hidden":false},{"id":"f24b3dca.cc25f","type":"ui_group","z":"","name":"data_output","tab":"8e999ee8.3c3af","order":2,"disp":true,"width":"6","collapse":false},{"id":"11094c5d.0a67c4","type":"inject","z":"323992cc.f1181e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["2581cc51.03c5bc"]]},{"id":"2581cc51.03c5bc","type":"function","z":"323992cc.f1181e","name":"TESTFLOW","func":"msg.payload=Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["4cc2f197.241f08"]]},{"id":"4cc2f197.241f08","type":"debug","z":"323992cc.f1181e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]}]